html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;

}
.container {
    box-sizing: border-box;
    height: 100%;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    grid-template-rows: 10% 75% 15%;
}

.el1 {
    background: blueviolet;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.el2 {
    background: blue;
}
.el3 {
    background: green;
}
.el4 {
    background:aqua;
    grid-column-start: 1;
    grid-column-end: span 2; 
}